body {
	margin: 0;
}

.logo {
	height: 200px;
	margin-top: 180px;
	display: flex;
	justify-content: center;
	align-items: center;

	h3 {
		font-family: "Gloria Hallelujah", cursive;
		font-weight: bolder;
		color: #ad1e61;
	}
}
