.list-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: url("../../assets/images/backlist.webp");
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;

	.list-item {
		width: 50%;
		background: #fff;
		border-radius: 15px;
		margin-bottom: 50px;
		padding-bottom: 30px;
		box-shadow: 5px 5px 35px #120e35d8;

		h2,
		p {
			text-align: center;
			text-decoration: underline;
			color: #ad1e61;
			text-shadow: 0px 0px 45px #68242fd8;
		}

		p {
			text-decoration: none;
		}

		.list-ingredients-tags {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
	}

	.list-item .tag,
	.pagination-button {
		background: #7e0940;
		border-radius: 5px;
		border: none;
		padding: 0 10px;
		margin: 10px;
		line-height: 35px;
		font-size: 14px;
		color: #fff;
		text-transform: uppercase;
		text-decoration: none;
		text-align: center;
		box-shadow: 5px 5px 35px #68242fd8;

		@media not all and (hover: none) {
			&:hover {
				background-color: #ad1e61;
			}
		}
	}
}

@media (max-width: 850px) {
	.list-wrapper .list-item {
		width: 90%;
	}
}
