.container-search {
	.header-search {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: url("../../assets/images/paco.webp");
		height: 875px;
		width: 100%;
		background-position: center;
		background-size: cover;

		h1,
		p {
			background: rgba(0, 0, 0, 0.5);
			border-radius: 30px;
			font-family: "Gloria Hallelujah", cursive;
			color: #7c1043;
			text-align: center;
			font-weight: bolder;
			font-size: 35px;
			position: absolute;
			top: 2%;
			right: 2%;
			width: 40%;
			text-shadow: 0 0 15px #000;
			box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.5);
		}

		p {
			margin-top: 180px;
			font-size: 20px;
		}
	}

	.wrap-search {
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0 0 50px 50px #000;
		background: #000;
		padding: 50px;
	}

	input,
	select {
		width: 250px;
		font-size: 20px;
		border: 5px solid #7e0940;
		padding: 10px;
		border-radius: 10px;
	}

	select {
		width: 120px;
	}

	.button-search {
		height: 40px;
		width: 120px;
		margin: 50px;
		background-color: #7e0940;
		color: #fff;
		border: none;
		border-radius: 5px;

		@media not all and (hover: none) {
			&:hover {
				background-color: #ad1e61;
			}
		}
	}
}

@media (max-width: 1350px) and (min-width: 1150px) {
	.container-search .header-search p {
		margin-top: 250px;
	}
}

@media (max-width: 1150px) {
	.container-search .header-search h1 {
		font-size: 25px;
	}
}

@media (max-width: 850px) {
	.container-search {
		.wrap-search {
			flex-direction: column;
			text-align: center;
		}

		.header-search {
			h1,
			h2,
			p {
				display: none;
			}
		}
	}
}
