$buttons-color: #49425d;
$buttons-shadow: #49425d;
$hover: #49425d;
$titles: #49425d;

$font-merida: "Merienda One", cursive;

$phone: "(max-width: 367px)";
$tablet: "(max-width: 768px)";
$desktop: "(max-width: 960px)";
$desktopHD: "(min-width: 1400px)";